.cg-drop-down {
  position: relative;
  .cg-drop-down-btn {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
  .cg-drop-down-menu {
    background-image: linear-gradient(#12517D, #378994);
    width: max-content;
    right: 0;
    position: absolute;
    height: 0px;
    transition: 200ms all;
    display: none;
    &.cg-dropdown-open {
      display: block;
      height: fit-content;
    }
  }  
}
