.cg-input-container {
  .cg-input--icon {
    margin-right: 10px;
  }
  .cg-input{
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
  }
  border: 1px solid #C7CCCF;
  color: #C7CCCF;
  border-radius: 25px;
  padding: 10px 20px;
  display: flex;
}
