{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1, 
      { 
        "extensions": [".js", ".jsx"] 
      }
    ],
    "react/forbid-prop-types": [false],
    "react/no-array-index-key": 0
  }
}
