.dashboard-container {
  .banner {
    display: flex;
    background: white;
    border-radius: 15px;
    margin-bottom: 30px;
    .banner-img {
      width: 30%;
      height: 200px;     
      margin: auto; 
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url('/assets/img/study.png');
    }
    .banner-left {
      display: flex;
      padding: 20px 35px;
      flex-direction: column;
      .banner-title {
        margin-bottom: 5px;
        background: -webkit-linear-gradient(#12517D, #378994);
        background-clip: text; 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .banner-subtitle {
        margin-bottom: 20px;
        font-weight: lighter;
        color: #898D8C;
      }
      .banner-qoute {
        margin-bottom: 15px;
        color: #C7CDCD;
        font-style: italic;
        font-weight: lighter;
      }  
      .cg-btn {
        width: fit-content;
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 25px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .banner {
    flex-direction: column-reverse;
    .banner-img {
      width: 100% !important;
    }
    .banner-left {
      text-align: center;
      .cg-btn {
        margin: auto;
      }
    }
  }
}

